.container{
    max-width: 500px;
    /* max-height: 500px; */
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153,153, 1);
    background-color: #F0F0F0;
}
#display{
    text-align: right;
    height: 90px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}
.buttons{
    display: grid;
    grid-gap: 7px;
    padding: 7px;
    
    /* padding-left: 1px;
    padding-right : 1px;  */
    /* background-color: cornsilk; */
    
    /* border-bottom: 1px solid #999;
    border-left: 1px solid #999; */
    /* grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; */
    grid-template-columns: auto auto auto auto auto ;
    
}
.buttons > div {
    /* border-top: 0.1px solid #999;
    border-right:0.1px solid #999 ; */
}
.button{
    padding-top: -1px;
    /* border :0.1px solid white; */
    line-height: 40px;
    
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}
.btn1{
    list-style: none;
    font-size: 20px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 7px;
}
.btn0{
    font-size: 20px;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: auto auto auto auto auto ;
    padding-bottom: 15px;
    text-align: center;
    
}
#equal {
    background-color: #889cdf;
    color: white;
}